@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Khula:wght@300;400;600;700;800&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.trirong {
  font-family: 'Trirong', serif;
}

.font-amiko {
  font-family: 'Amiko', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-assistant {
  font-family: 'Assistant', sans-serif;
}

body {
  scroll-behavior: smooth;
}

@keyframes addToCart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-border {

  0%,
  100% {
    border-color: #0e540b;
  }

  50% {
    border-color: #22c55e;
  }
}

@keyframes popupBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }

  70% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-add-to-cart {
  animation: addToCart 0.4s ease-out;
}

.animate-pulse-border {
  animation: pulse-border 0.4s ease-out;
}

.popup-animation {
  animation: popupBounce 0.4s ease-out, fadeOut 0.6s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-out forwards;
}